*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.container{
  margin: 0 15%;
}
header{
 background-color: pink;
 width: 100%;
 min-height: 10vh;
 padding-top:1%;
}
.logo-container{
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/logo.png);
  margin-left: 1%;
  border-right: 1px solid lightgrey;
}
.nav{
  margin-top: 15px;
}
.navigation{
  font-size: 85%;
}
.navbar{
  color: grey;
  margin-left: 5%;;
}
.list{
  display: inline-block;
  font-size: 13px;
  margin-left: 1%;
}
.navigation :first-child{
  margin-left: 0;
}

.yellow-section{
  width: 100%;
  min-height: calc(400px + 5vh);
  margin: 1.8% 0;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  position: relative;
}
.layover{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
  margin-top: 0;
  position: absolute;
  border-radius: 5px;
  top:0;
}
.text{
  position: absolute;
  top: 65%;
  left: 5%;
  z-index: 10;
}
.testo{
  color: white;
  font-size: 18px;
}
.small-text{
  font-size: 10px;
}
.blue-section{
  width: 100%;
  min-height: calc(450px + 5vh);
  background-color: lightblue;
}
.content{

}
.title{
  width: 100%;
  min-height: 7vh;
  background-color: blue;
  margin-bottom: 1.8%;
}
.lead{
  font-weight: bold;
  font-size: 20px;
}
.txt{
  font-size: 10px;
  color: lightgrey;
}
.float{
  background-color: blue;
  float: left;
}
.small{
  width: 23.5%;
}
.img-small{
  width: 100%;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}
.img-1{
  background-image: url(../img/img-1.jpg);
}
.middle{
  width: 50%;
  margin: 0 1.5%;
}
.text-main-2{
  font-size: 13px;
}
.layover-2{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
  border-radius: 5px;
}
footer{
  width: 100%;
  height: 5vh;
  background-color: purple;
  margin-top: 0.5%;
}
